body {
    background-color: var(--bs-gray-200) !important;
}

:root {
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-jupiner: #7A9791;
    --bs-blue-smoke: #6F877C;
    --bs-blue-smoke-dark: #5C6F6A;
    --bs-heave-metal: #1C201D;
}

.primary-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.text-gray-100 {
    color: var(--bs-gray-100) !important;
}

.text-gray-200 {
    color: var(--bs-gray-200) !important;
}

.text-gray-300 {
    color: var(--bs-gray-300) !important;
}

.text-gray-400 {
    color: var(--bs-gray-400) !important;
}

.text-gray-500 {
    color: var(--bs-gray-500) !important;
}

.text-gray-600 {
    color: var(--bs-gray-600) !important;
}

.text-gray-700 {
    color: var(--bs-gray-700) !important;
}

.text-gray-800 {
    color: var(--bs-gray-800) !important;
}

.text-gray-900 {
    color: var(--bs-gray-900) !important;
}


