#main-content {
    transition: all 1s ease-in-out;
    margin: 0;
    width: 100%;
}

#main-content.active {
    transition: all 1s ease-in-out;
    margin-left: 295px;
    width: calc(100% - 298px);
    height: 100vh;
    animation: main-content-active 1s;
}

.content-wrapper {
    transition: width 1s;
    min-height: calc(100% - 70px);
    background: var(--bs-gray-100);
}
