.page-item-dark {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light);
    border-color: var(--bs-dark);
}

.page-item-dark:hover{
    background-color: rgba(0, 0, 0, .8) !important;
    color: var(--bs-light);
    border-color: var(--bs-dark);
    cursor: pointer;
}
