.page-item {
    color: var(--bs-blue-smoke-dark) !important;
}

.page-item.active .page-link {
    background-color: var(--bs-blue-smoke-dark) !important;
    border-color: var(--bs-blue-smoke-dark) !important;
    color: var(--bs-white) !important;
}

.page-link {
    color: var(--bs-blue-smoke-dark) !important;
}

.page-item.disabled .page-link {
    background-color: var(--bs-gray-100) !important;
}

.page-link:focus{
    box-shadow: none !important;
}
