.profile-edit {
    padding: .5rem .75rem !important;
    right: calc(50% - 83px);
    top: 5px;
    z-index: 2;
    position: absolute;
    background-color: var(--bs-gray-100) !important;
    color: var(--bs-dark) !important;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid var(--bs-gray-400) !important;
}


