.profile {
    background: var(--bs-gray-100);
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    padding: 1rem;
}

.profile-image {
    box-shadow: 0 0 0 0.3rem rgba(111, 135, 124, .3) !important;
    height: 3rem;
    width: auto;
    transition: all 0.5s;
}

.profile-image:hover {
    scale: 1.1;
}
