.scrollable-y {
    overflow-y: auto;
}

.scrollable-y::-webkit-scrollbar {
    width: 7px;
}

.scrollable-y::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10rem;
    border: 1px solid #fff;
}

.scrollable-y::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.scrollable-y::-webkit-scrollbar-track-piece:end {
    background: transparent;
}
